.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  position: relative;
}

.banner__content {
  padding: 140px 30px 0 30px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 360px;
  height: 80px;
}

.banner__buttons {
  margin-top: 20px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  padding: 8px 24px;
  margin-right: 10px;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  background-color: #e6e6e6;
  color: #000;
  transition: all 0.2s;
}

.banner--fadeBottom {
  position: absolute;
  top: 30vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
