.movieCard {
  max-height: 200px;
  margin-right: 10px;
  transition: transform 0.2s;
  cursor: pointer;
}

.movieCard__poster {
  width: 150px;
  height: auto;
  border-radius: 4px;
  transition: transform 0.3s;
}

.movieCard:hover {
  transform: scale(1.1);
  z-index: 2;
}
